body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    background-image: url(../img/MisfitsBody.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Mistral, cursive;
    background-position-y: 100%;
}
.conteiner {
    width: 100%;
}

.menu {
    background-color: black;
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 50px 0;
    padding-left: 0;
}

li {
    padding: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 400px;
}


p {
    text-shadow: 4px 12px 3px rgba(129, 133, 152, 0.7);
    background-color: rgba(249, 201, 16, 0.55);
    margin: 20px 15%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}

.scale {
    text-shadow: 4px 12px 3px rgba(129, 133, 152, 1);
    font-size: 54px;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.scale:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.heroes {
    list-style-type: none;
    background-color: black;
    opacity: 0.7;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
}

a:hover {
    color: orange;
}

.nathan {
    margin: 0 auto;
    width: 35vw;
    height: 28vw;
    background-image: url(../img/nathan.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.rudy {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
    background-image: url(../img/rudy.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.curtis {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
    background-image: url(../img/curtis.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.alisha {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
    background-image: url(../img/alisha.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.kelly {
    margin: 0 auto;
    width: 35vw;
    height: 33vw;
    background-image: url(../img/kelly.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.saimon {
    margin: 0 auto;
    width: 35vw;
    height: 35vw;
    background-image: url(../img/saimon.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}

.jess {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
    background-image: url(../img/jess.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.fin {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
    background-image: url(../img/fin.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.alex {
    margin: 0 auto;
    width: 35vw;
    height: 24vw;
    background-image: url(../img/alex.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.abbey {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
    background-image: url(../img/abbey.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.column {
    width: 100%;
    clear: both;
}

strong {
    font-size: 22px;
}

.aboutactors {
    text-shadow: 4px 12px 3px rgba(129, 133, 152, 0.7);
    background-color: rgba(249, 201, 16, 0.55);
    font-size: 24px;
    letter-spacing: 1px;
}

#gallery {
    margin: 0 auto;
}

#season1:target,
#season2:target,
#season3:target,
#season4:target,
#season5:target {
    display: block;
}

#season1:not(:target),
#season2:not(:target),
#season3:not(:target),
#season4:not(:target),
#season5:not(:target) {
    display: none;
}

.seasons {
    font-size: 24px;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}

@media screen and (max-width: 320px) {
    .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    h1 {
        font-size: 35px;
    }
    p {
        margin: 0;
        font-size: 16px;
    }
    .scale {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .scale:hover {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    h1 {
        font-size: 35px;
    }
    p {
        margin: 0;
        font-size: 16px;
    }
    ul {
        margin: 0;
    }
    .scale {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .scale:hover {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .conteiner,
    .menu {
        width: 767px;
        margin: 20px auto;
    }
} 

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .conteiner,
    .menu {
        width: 1024px;
        margin: 20px auto;
    }
} 

@media screen and (min-width: 1280px) {
    .conteiner,
    .menu {
        width: 1280px;
        margin: 20px auto;
    }
}

 

